/* Cards */
.shadow {
    border: none;
    background-color:rgba(0, 0, 0, 0);
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0), 0 0 0px rgba(0, 0, 0, 0);
    transition: all 1.5s cubic-bezier(.25, .8, .25, 1);
}

/*
.shadow:hover { 
    background-color:#FCFCFC;
    box-shadow: 0px -5px 30px rgba(0, 0, 0, 0.05), 0 0px 11px rgba(0, 0, 0, 0.17);
}
*/

.card {
    background-color:rgba(0, 0, 0, 0);
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.card-img-top {
    display: block;
    width: 100%;
    height: auto;
}

.card-text {
    color: #111;
    font-weight: 500;
}

.card-container {
    margin-left: 0px;
    margin-right: 0px;
}

.art-owner {
    display: inline-block;
    width: 160px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1em;
    vertical-align: text-bottom;
}