body {
	background-color: #ffffff;
	font-family: 'Roboto', sans-serif;
	font-weight: 600;
	font-size: 14px;
	color: #111;
	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;
}
h1 {
	font-size: 34px;
	font-family: cooper-black-std, serif;
	font-weight: 400;
	text-align: center;
	letter-spacing: 1px;
}
h2 {
	font-size: 24px;
	font-weight: 900;
}
h3 {
	font-size: 16px;
	font-weight: 800;
}
h4 {
	font-size: 16px;
	font-weight: 700;
}
h5 {
	font-size: 16px;
	font-weight: 700;
}
h6 {
	font-weight: 700;
	color: #111;
	text-align: center;
}
h7 {
	font-size: 12px;
	color:#777;
	text-align: center;
	font-weight: 500;
	margin-Top: 12px;
	margin-bottom: 20px;
}
.title {
	font-size: 12vmin;
}
.left {
	text-align: Left;
}
a:focus {
	color: #111;
	text-decoration: none;
	outline: 0;
}
a:before,a:after {
	-webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
	-moz-transition: color 0.1s ease-in, background 0.1s ease-in;
	-ms-transition: color 0.1s ease-in, background 0.1s ease-in;
	-o-transition: color 0.1s ease-in, background 0.1s ease-in;
	transition: color 0.1s ease-in, background 0.1s ease-in;
}
hr {
	display: block;
	height: 0px;
	border: 0;
	border-top: 0px;
	margin: .5em 0;
	padding: 0;
}


.navbar {
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	font-weight: 800;
	max-width: 780pt;
	margin: 0 auto;
}

.nav-item {
	margin-top: 2px;
	margin-left: 8px;
}
.nav-link {
	font-size: 20px;	
	margin-top: 8px;
	margin-left: 10px;
	margin-right: 20px;
	text-align: center;
}
.nav-link:hover {
	margin-left: 10px;
	margin-right: 20px;
	color: #111;
	opacity: 100;
	text-decoration: none;
}
.navbar-brand {
	margin-left: 9px;
	font-size: 30px;
	font-weight: 600;
}

.dropdown-menu {
	border: none;
	background-color: #fff;
	margin-top: 20px;
	box-shadow: 0px -5px 26px rgba(0, 0, 0, 0.05), 0 0px 11px rgba(0, 0, 0, 0.12);
}

/* moile nav */
.navbar-toggler {
	position: absolute;
	left: 28px;
	top:28px;
}

.navbar-toggler-icon { 
	color: #0056FF;
}

.navbar-brand {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 22%;
}

/* Button Colors */
.btn {
	color: #ffffff;
	background-color: #252526;
	border-color: #2F80ED;
	font-size: 16px;
	font-weight: 700;
	border-radius: 20px;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05), 0 0px 1px rgba(0, 0, 0, 0.17);
	transition: all 1s cubic-bezier(.25, .8, .25, 1);
	width: 140px;
	margin-bottom: 7px;
}
.btn:hover {
	color: #ffffff;
	background-color: #0056FF;
	border-color: #1970E5;
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.16), 0 1px 4px rgba(0, 0, 0, 0.19);
}
.btn-link {
	color: #0056FF;
	background: none;
	font-size: 16px;
	font-weight: 700;
	border: none;
	box-shadow: none;
	width: 80px;
	margin-top: -10px;
}
.btn-link:hover {
	color: #0057FF;
	background: none;
	font-size: 16px;
	font-weight: 700;
	border: none;
	text-decoration: none;
	box-shadow: none;
}
.btn-link:active {
	color: #111111;
	text-decoration: none;
}
.btn:disabled {
	color: #F2CF22;
	background-color: #ffffff;
	border-color: #F2CF22;
	opacity: 100;
	box-shadow: none;
}
.btn-buy:disabled span {
	display: none;
}
.btn-buy:disabled:before {
	content: 'Selling';
}
.swal-button {
	padding: 10px 20px;
	border-radius: 30px;
	background-color: #0057FF;
	font-size: 16px;
	border: 1px solid #3e549a;
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
}
.swal-overlay {
	background-color: rgba(220, 200, 0, 0.7);
}
.thead {
	background-color: #252526;
	color: #ffffff;
	border-radius: 50px;
}
.row {
	margin-left: 0;
	margin-right: 0;
}
.thead {
	color: #FED14E;
	background-color: #111;
}
.table {
	color: #D7342D;
}

.vertical-center {
	min-height: 100%;
	/* Fallback for browsers do NOT support vh unit */
	min-height: 100vh;
	/* These two lines are counted as one :-) */
	display: flex;
	align-items: center;
}
.grow:hover {
	transform: scale(1.1);
}
.rotate {
	-webkit-transition: -webkit-transform 2s ease-in-out;
	transition: transform 2s ease-in-out;
}
.rotate:hover {
	-webkit-transform: rotate(777deg);
	transform: rotate(777deg);
}
#myBtn {
	display: none;
	position: fixed;
	bottom: 20px;
	left: 30px;
	z-index: 99;
	border: none;
	outline: none;
	background-color: transparent;
	color: #111;
	cursor: pointer;
	padding: 15px;
	font-size: 20px;
}
#myBtn:hover {
	background-color: #ffff00;
	font-size: 30px;
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.16), 0 1px 4px rgba(0, 0, 0, 0.19);
	border-radius: 30px;
}
body {
	height: 100vh;
	/* display: flex;
	*/
}
.bubble-wrap {
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 90vh;
	margin: auto;
	z-index: 0;
}
.text,canvas {
	width: 100%;
	height: 100%;
}
.jwHeader {
	z-index: 1;
}

.grad {
  background-image: linear-gradient(black, purple, red, purple, black);
}


.video-wrapper {
    position: relative;
}

.video-wrapper > video {
    width: 100%;
    vertical-align: middle;
}

.video-wrapper > video.has-media-controls-hidden::-webkit-media-controls {
    display: none;
}

.video-overlay-play-button {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 10px calc(50% - 50px);
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    opacity: 0.95;
    cursor: pointer;
    background-image: linear-gradient(transparent, #000);
    transition: opacity 150ms;
}

.video-overlay-play-button:hover {
    opacity: 1;
}

.video-overlay-play-button.is-hidden {
    display: none;
}